.custom-nav {
  background-color: #fff;
}

.custom-title-bar {
  --td-input-bg-color: #f3f3f3;
  --td-input-border-radius: 16px;
  --td-input-prefix-icon-color: #00000066;
  --td-input-placeholder-text-color: #00000066;
  --td-spacer-2: 4px;

  display: flex;
  align-items: center;
  margin-left: 12px;
  color: #000;

  .t-input {
    box-sizing: border-box;
    height: calc(100% - 8px);
    padding: 10px 14px;
    border-radius: 32px;
    width: 220px;
    flex: unset;
  }
}
