.filter-container {
  --td-dropdown-body-max-height: 400px;
  --td-tree-colum-width:206rpx;
  .area-tree-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px;

    & :first-child {
      margin-right: 12px;
    }
  }
}
.activity-list-card-desc {
  font-size: 12px;
  color: #0008;
}

.activity-list-card-tag {
  color: #fff;
  height: 20px;
  line-height: 20px;
  width: 50px;
  text-align: center;
  font-size: 10px;
}

.activity-list-card-tag1 {
  background-color: #F7B500;
}
.activity-list-card-tag2 {
  background-color: #6DD400;
}
.activity-list-card-tag3 {
  background-color: #BFBFBF;
}