.mine {
  &-header {
    background-color: #fff;
    padding: 32rpx;
    display: flex;
    margin-bottom: 34rpx;

    &-logo {
      width: 148rpx;
      height: 148rpx;
      margin-right: 32rpx;
      border-radius: 50%;
      background-color: #F2F3F5;
      background-image: url('https://6a69-jiuxiaju-7ghefl5n6fc39431-1319329496.tcb.qcloud.la/cloudbase-cms/upload/2023-12-01/pazvvtij13g26yqy00o0drnthmdb8led_.JPG?sign=eadbc8aad5e38d7d645c441a032258ec&t=1701430016');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    &-info {
      display: flex;
      flex-direction: column;
      font-family:  AlibabaPuHuiTiR;
      font-weight: 400;

      &-title {
        font-size: 28rpx;
        color: rgba(0,0,0,0.85);
        letter-spacing: 0;
        line-height: 40rpx;
        margin-bottom: 20rpx;
      }

      &-desc {
        font-size: 24rpx;
        color: rgba(0,0,0,0.50);
        line-height: 34rpx;
      }
    }
  }

  &-list {
    background-color: #fff;
    padding: 0 32rpx;

    &-item {
      display: flex;
      justify-content: space-between;
      padding: 32rpx 0;
      font-family:  AlibabaPuHuiTiR;
      font-weight: 400;
      font-size: 24rpx;
      color: rgba(0,0,0,0.50);
      letter-spacing: 0;
      line-height: 36rpx;
      border-bottom: 2rpx solid rgba(0,0,0,0.04);

      .t-icon-base {
        opacity: .4;
      }
    }
  }
}